:root {
  --primary-color: #c2bcaf;
  --secondary-color: #a25527;
  --accent-color: #e5e5e5;
  --dark-color: #4e331b;
  --text-color: #333;
}

body {
  font-family: "Lora", serif;
  background-color: var(--accent-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
header {
  background-color: var(--dark-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

header h1 {
  color: white;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  width: 15%; /* Ajusta a logo para ocupar 15% da largura da tela */
  max-width: 150px;
  height: auto;
  margin-right: 20px;
  transform: scale(1.5);
  transform-origin: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Lora", serif;
}

/* Seção Hero */
.hero {
  background-color: var(--accent-color);
  padding: 4rem;
  text-align: center;
  position: relative;
}

.hero img {
  width: 100%; /* Ajusta a largura da imagem para 100% */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}

.hero h2 {
  color: var(--dark-color);
  font-size: 2.5rem;
}

.hero p {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-align: center;
  margin: 2rem auto;
}

.cta-button:hover {
  background-color: var(--dark-color);
}

/* Seção de Produtos */
.products {
  padding: 5rem;
  background-color: var(--primary-color);
  text-align: center;
}

.products h2 {
  text-align: center;
  color: var(--dark-color);
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  box-sizing: border-box;
}

.product-card {
  background-color: white;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-info {
  padding: 1rem;
}

.product-info h3 {
  color: var(--dark-color);
  margin-bottom: 0.5rem;
}

.product-info p {
  color: var(--secondary-color);
  font-size: 1.3rem;
}

/* Seção Sobre Nós */
.about {
  padding: 2rem;
  text-align: center;
  background-color: var(--accent-color);
}

.about h2 {
  color: var(--dark-color);
  font-size: 2.5rem;
}

.about p {
  font-size: 1.2rem;
  color: var(--text-color);
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Diminuir a imagem na seção Sobre Nós */
.about img {
  width: 65%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

/* Seção de Contato */
.contact {
  padding: 2rem;
  text-align: center;
  background-color: var(--primary-color);
}

.contact h2 {
  color: var(--dark-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 1.2rem;
  color: var(--text-color);
}

/* Ícones de redes sociais */
.social-icons {
  margin-top: 1rem;
}

.social-icons a {
  color: var(--dark-color);
  font-size: 2rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--secondary-color);
}

/* Rodapé */
footer {
  background-color: var(--dark-color);
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Estilos para o carrossel */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-bottom: 20px;
}

.carousel-image {
  scroll-snap-align: center;
  width: 300px;
  height: auto;
}

.product-card {
  max-width: 300px;
  margin: 1rem;
}

/* Responsividade */
@media (max-width: 1200px) {
  header h1 {
    font-size: 2.2rem;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero h2 {
    font-size: 2rem;
  }

  .product-card img {
    height: 300px;
  }

  .cta-button {
    font-size: 1.1rem;
  }

  .about img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header h1 {
    font-size: 2rem;
  }

  nav ul {
    display: block;
    text-align: center;
    width: 100%;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .product-card img {
    height: 200px;
  }

  .cta-button {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .product-grid {
    grid-template-columns: 1fr 1fr;
  }

  .about img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.8rem;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .cta-button {
    padding: 0.8rem;
    font-size: 1rem;
  }

  .about img {
    width: 90%;
  }

  .product-card img {
    height: 180px;
  }

  footer {
    font-size: 0.9rem;
  }
}
